name: Update Profile Cards

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

jobs:
  devcard:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: devcard
        uses: dailydotdev/action-devcard@3.1.0
        with:
          user_id: ${{ secrets.DEVCARD_ID }}
          commit_branch: devcard
          commit_filename: devcard.png
          commit_message: "chore: update ${filename}"

  stats:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Generate Stats Card
        uses: stats-organization/github-readme-stats-action@v1
        with:
          card: stats
          options: username=${{ github.repository_owner }}&include_all_commits=true&show_icons=true&hide_border=true&count_private=true&theme=vue-dark
          path: profile/stats.svg
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Top Languages Card
        uses: stats-organization/github-readme-stats-action@v1
        with:
          card: top-langs
          options: username=${{ github.repository_owner }}&include_all_commits=true&count_private=true&show_icons=true&hide_border=true&layout=compact&hide=lua&langs_count=8&theme=vue-dark
          path: profile/top-langs.svg
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit and push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add profile/
          git diff --staged --quiet || git commit -m "chore: update readme stats cards" && git push
